* {
    gap: 0;
    margin: 0;
    font-family: garamond, serif;
}

.body {
    display: grid;
    background-color: #c4c4c4; 
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 175px 600px
}

.sidebar {
    grid-row: span 2;
    background-color: rgb(73, 73, 73);
}

.menu {
    font-size: 25px;
    font-weight: 900;
    color: white;
    margin: 25px;
}

.menu>.logo{
    font-size: 40px;
}

ul, li {
    list-style-type: none;
}

li {
    padding: 10px;
}

#main, #settings {
    padding-top: 40px;
}

.search {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 1;
}

.search-top {
    grid-column: span 2;
}

